$darkmode: true;
$primary: #71d1ff;
$onPrimary: #003549;
$primaryContainer: #004c68;
$onPrimaryContainer: #c0e8ff;
$secondary: #b4c9d6;
$onSecondary: #20333d;
$secondaryContainer: #364954;
$onSecondaryContainer: #d0e5f3;
$tertiary: #c9c1ea;
$onTertiary: #312c4c;
$tertiaryContainer: #484364;
$onTertiaryContainer: #e6deff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1012;
$background: #0F1012;
$onBackground: #e1e2e5;
$surface: #191c1e;
$onSurface: #e1e2e5;
$surfaceVariant: #41484d;
$onSurfaceVariant: #c0c7cd;
$outline: #8b9298;
$shadow: #000000;
$inverseSurface: #e1e2e5;
$inverseOnSurface: #2e3133;
$inversePrimary: #00668a;
