$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #6F7884;
$secondary_paletteKeyColor: #72777E;
$tertiary_paletteKeyColor: #6A7889;
$neutral_paletteKeyColor: #787778;
$neutral_variant_paletteKeyColor: #787778;
$background: #131314;
$onBackground: #E4E2E3;
$surface: #131314;
$surfaceDim: #131314;
$surfaceBright: #39393A;
$surfaceContainerLowest: #0E0E0F;
$surfaceContainerLow: #1B1C1D;
$surfaceContainer: #1F2021;
$surfaceContainerHigh: #2A2A2B;
$surfaceContainerHighest: #343536;
$onSurface: #E4E2E3;
$surfaceVariant: #474748;
$onSurfaceVariant: #C8C6C7;
$inverseSurface: #E4E2E3;
$inverseOnSurface: #303031;
$outline: #919091;
$outlineVariant: #474748;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BEC7D4;
$primary: #BEC7D4;
$onPrimary: #28313B;
$primaryContainer: #3E4852;
$onPrimaryContainer: #DAE3F1;
$inversePrimary: #565F6B;
$secondary: #C2C7CF;
$onSecondary: #2C3137;
$secondaryContainer: #42474E;
$onSecondaryContainer: #DEE3EB;
$tertiary: #B9C8DA;
$onTertiary: #243240;
$tertiaryContainer: #8492A3;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #DAE3F1;
$primaryFixedDim: #BEC7D4;
$onPrimaryFixed: #131C26;
$onPrimaryFixedVariant: #3E4852;
$secondaryFixed: #DEE3EB;
$secondaryFixedDim: #C2C7CF;
$onSecondaryFixed: #171C22;
$onSecondaryFixedVariant: #42474E;
$tertiaryFixed: #D5E4F7;
$tertiaryFixedDim: #B9C8DA;
$onTertiaryFixed: #0E1D2A;
$onTertiaryFixedVariant: #3A4857;
