$darkmode: False;
$transparent: False;
$background: #101418;
$onBackground: #e1e2e8;
$surface: #101418;
$surfaceDim: #101418;
$surfaceBright: #36393e;
$surfaceContainerLowest: #0b0e13;
$surfaceContainerLow: #191c20;
$surfaceContainer: #1d2024;
$surfaceContainerHigh: #272a2f;
$surfaceContainerHighest: #32353a;
$onSurface: #e1e2e8;
$surfaceVariant: #42474e;
$onSurfaceVariant: #c3c7cf;
$inverseSurface: #e1e2e8;
$inverseOnSurface: #2e3135;
$outline: #8d9199;
$outlineVariant: #42474e;
$shadow: #000000;
$scrim: #000000;
$primary: #a0cafd;
$onPrimary: #003258;
$primaryContainer: #184975;
$onPrimaryContainer: #d1e4ff;
$inversePrimary: #35618e;
$secondary: #bac8db;
$onSecondary: #253140;
$secondaryContainer: #3b4858;
$onSecondaryContainer: #d6e3f7;
$tertiary: #d6bee5;
$onTertiary: #3b2948;
$tertiaryContainer: #523f5f;
$onTertiaryContainer: #f2daff;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #d1e4ff;
$primaryFixedDim: #a0cafd;
$onPrimaryFixed: #001d36;
$onPrimaryFixedVariant: #184975;
$secondaryFixed: #d6e3f7;
$secondaryFixedDim: #bac8db;
$onSecondaryFixed: #101c2b;
$onSecondaryFixedVariant: #3b4858;
$tertiaryFixed: #f2daff;
$tertiaryFixedDim: #d6bee5;
$onTertiaryFixed: #251432;
$onTertiaryFixedVariant: #523f5f;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0D1C20;
$term1: #8383FF;
$term2: #63DFD4;
$term3: #75FCDD;
$term4: #76B4BD;
$term5: #7AAEEA;
$term6: #81D8D7;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F6FFFD;
$term11: #FFFFFF;
$term12: #BEE3E5;
$term13: #C8DAFF;
$term14: #E5FFFE;
$term15: #ADEDF6;
